.bannerPromo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center; }

main .contenido .contenedorFiltros, main .contenido .contenedorProductos {
  display: flex;
  justify-content: space-around;
  align-items: center; }

main .contenido .contenedorFiltros .contenedorFiltros__filtro .filtro__boton, main .contenido .contenedorFiltros .contenedorFiltros__orden .orden__boton {
  background-color: white !important;
  border: 1px solid black;
  padding: 20px;
  margin: 20px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400; }

/*CSS HEADER*/
header {
  background-color: #5D6B7D;
  position: sticky;
  top: 0; }
  header div nav {
    font-size: large;
    color: #f6b111;
    --bs-navbar-hover-color: $color-hoverlink; }
    header div nav div .navbar-brand {
      margin-right: 20px; }
    header div nav div button {
      color: white; }
    header div nav div div .nav-link {
      color: white;
      padding: 10px;
      text-decoration: none;
      border-right: 1px solid white; }

/*CSS BANNER*/
.bannerPromo {
  background-color: red; }
  .bannerPromo .bannerPromo__texto {
    color: white;
    font-weight: 900;
    font-size: xx-large; }

body {
  background-color: #9babc0; }

main {
  background-color: #9babc0; }
  main .contenido .contenedorFiltros {
    height: 30vh;
    border-bottom: 1px solid white; }
    main .contenido .contenedorFiltros .contenedorFiltros__texto {
      color: black;
      border: 2px dotted white;
      padding: 20px; }
  main .contenido .contenedorProductos {
    height: 80vh;
    flex-wrap: wrap;
    flex-flow: row wrap;
    padding-bottom: 50px; }
    main .contenido .contenedorProductos .contenedorProductos__card {
      height: 250px;
      width: 250px;
      display: inline-block; }
      main .contenido .contenedorProductos .contenedorProductos__card .card__img {
        height: 250px;
        width: 250px; }
      main .contenido .contenedorProductos .contenedorProductos__card .card__nombre {
        padding-top: 10px;
        margin-top: 10px;
        text-align: center;
        border-top: 1px solid white; }
      main .contenido .contenedorProductos .contenedorProductos__card .card__precio {
        color: red;
        font-size: x-large;
        text-align: center; }
      main .contenido .contenedorProductos .contenedorProductos__card .card__preciodesc {
        text-align: center;
        font-style: italic;
        text-decoration: line-through; }

footer {
  background-color: #5D6B7D; }
  footer .contenedorMapa {
    display: inline; }
    footer .contenedorMapa .contenedorMapa__mapa {
      margin-top: 20px;
      margin-left: 20px; }
  footer .redes {
    display: inline;
    margin-left: 20%; }
    footer .redes a .redes__iconos {
      width: 50px;
      height: 50px;
      padding: 5px; }
  footer .redes__texto {
    font-size: small;
    text-align: end;
    padding-right: 20px;
    padding-bottom: 5px; }
