//variables

$color-principal: #5D6B7D;
$color-secundario: #9babc0;
$color-fuente-light: white;
$color-fuente-dark: black;
$color-hoverlink: #f6b111;
$color-atencion: red;
$card-height: 250px;
$card-width: 250px;
$height-1:30vh;
$height-2:80vh;

